body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #AF33EA;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left i {
  font-size: 24px;
  margin-right: 10px;
}

header h1 {
  margin: 0;
}

.header-right {
  display: flex;
  gap: 10px;
}

header .btn-custom {
  background-color: #fff;
  color: #9333EA;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

header .btn-custom:hover {
  background-color: #BE2BCD;
  color: #fff;
}

main {
  padding: 20px;
  flex: 1;
}

.logros {
  display: flex;
  flex-direction: column;
}

.logro {
  background-color: rgba(190, 43, 205, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  color: #9333EA;
}

h2 {
  color: #9333EA;
}

.logro h2 {
  margin-right: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.logro h2 i {
  margin-right: 10px;
}

.fecha {
  background-color: rgba(190, 43, 205, 0.1);
  font-size: 12px;
  color: #9333EA;
  display: inline-block;
  margin-right: 15px;
}

.likes {
  font-size: 14px;
  color: #9333EA;
  display: inline-block;
}

.fecha-btn,
.likes-btn {
  background-color: rgba(190, 43, 205, 0.1); /* Lila transparente */
  border: none;
  color: #BE2BCD;
  cursor: pointer;
  margin-right: 15px;
  padding: 5px 10px;
}

.fecha-btn:hover,
.likes-btn:hover {
  background-color: rgba(190, 43, 205, 0.7); /* Lila transparente más oscuro al hacer hover */
}

.acciones button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.acciones button:hover {
  background-color: #ddd;
}

footer {
  background-color: #AF33EA;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Especificidad ajustada para .add-new */
.btn.add-new {
  background-color: #AF33EA; /* Color estático lila */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
  margin-left: auto; /* Asegura que el botón esté a la derecha */
}

.btn.add-new i {
  margin-right: 10px;
}

.btn.add-new:hover {
  background-color: #9E23A9; /* Un poco más oscuro al hacer hover */
}

/* Clase general de botón ajustada */
.btn {
  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.btn i {
  margin-right: 5px;
}

.btn-edit, .btn-cancel, .btn-save {
  background-color: #AF33EA; /* Color estático lila */
  color: white;
  align-items: center;
}

.btn:hover {
  background-color:  #9E23A9;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
